#footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "a b c";
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

@media (max-width: 600px) {
  #footer {
    grid-template-columns: initial;
    grid-template-areas:
      "b b b b"
      "a a c c";
  }

  .b {
    @apply m-0 mb-6;
  }
}